body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    background-image: url('https://png.pngtree.com/thumb_back/fh260/background/20210902/pngtree-abstract-glass-morphism-image_776730.jpg');
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

h1 {
    color: #000000;
}

label {
    display: block;
    margin-top: 10px;
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #555;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.container {
    position: relative;
}

.go-back {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 5px 10px;
    background-color:  #1affff;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #333;
    text-decoration: none;
}

.go-back:hover {
    background-color: #cd0e0e;
    color: #000;
}